/*
----------------------------------------
    Zen | Yoga Studio Website
    Version: 0.1
----------------------------------------

----------------------------------------
    Template default CSS
----------------------------------------
*/

/*CSS Variables / Custom Properties */
:root{
    /*Fonts*/
    --font-main: 'Roboto', sans-serif;
    --font-text: 'Open Sans', sans-serif;
    --font-numbers: 'Calibri', sans-serif;
    /*CSS HEX Colors*/
    --main-color: #C77CF1;
    --color-light: #ffffff;
    --color-light-half: rgba(255, 255, 255, 0.3);
    --color-text-light:#717171;
    --color-dark: #000000;
    --color-plan1:#C77CF1;
    --color-plan2:#B268F2;
    --color-plan3:#C153DB;
    --color-plan4:#FE7AEB;
    --color-light-border: #d3d3d3;
    /* --color-gradient: linear-gradient(-50deg,  #C77CF1 0%, #6C63FF 100%); */
    /* linear-gradient(to right,  #6C63FF, #C77CF1); */
    --color-gradient: linear-gradient(to right,  #6C63FF, #C77CF1);
}

body, html{
    min-height: 100vh;
}

body{
    font-family: var(--font-main);
    /* display: grid; */
    /* grid-template-rows: auto 1fr auto; */
    margin: 0;
}

a{
    text-decoration:none;
    background-color:transparent;
}

.a:hover{
    text-decoration: underline;
    transform: scale(1.05);
}

.h2{
    font-family: var(--font-main);
    font-size: 1rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.button{
    display:inline-block;
    background-color:transparent;
    border:1px solid transparent;
    padding: .350rem 1.5rem;
    border-radius:.25rem;
    font-weight:400;
    color: var(--color-light);
    text-align:center;
    vertical-align:middle;
    font-size:1rem;
    line-height:1.5;
}

.button:hover{
    text-decoration-line: none;
    transform: scale(1.02);
    box-shadow: 0 10px 20px 0 rgba(00, 00, 00, 0.1);
}

.header{
    /* background-color: #000000; */
    border: none;
    /* position:fixed;
    top:0;
    right:0;
    left:0; */
}

.header .container{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
    max-width: 80%;
    padding: 1rem;
    margin-right:auto;
    margin-left:auto;
}

.logo{
    height: 50px;
}

.navMenu{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 1rem;
    text-align: end;
    justify-content: end;
    flex-grow: 1;
}

.navMenu a{
    display:inline-block;
    padding: .350rem 1.5rem;
    font-weight:400;
    color: var(--color-light);
    text-align:start;
    font-size:.8rem;
}

.navMenu a:hover{
    text-decoration: underline;
    transform: scale(1.05);
}

.header a.navBtn{
    background-image: var(--color-gradient);
    border: none;
    font-size: 1rem;
    border-radius: 100px;
}

.header a.navBtn:hover{
    text-decoration-line: none;
    transform: scale(1.02);
    box-shadow: 0 10px 20px 0 rgba(00, 00, 00, 0.2);
}

.header-color{
    background-color: var(--main-color);
}

.cover-img{
    /* position: relative; */
    background-image: url(assests/images/headerImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    min-height: 600px;
    /* height: calc(100vh); */
    height: 100vh;
}

.cover-color{
    background-color: rgba(96, 41, 169, 0.3);
    height: 100%;
}

.innerBtn{
    position: relative;
	border: none;
    background-color:var(--color-light-half);
    border-radius:100px;
}

.slogan-container{
    font-family: var(--font-main);
    color: var(--color-light);
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    margin-top: 18rem;
}

.spacer{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.content{
    /* background-color: var(--color-light); */
    min-height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.body-section{
    max-width: 100%;
}

.body-container{
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto; 
}

.body-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.section-title{
    font-family: var(--font-main);
    color: var(--color-dark);
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}

.info{
    /* flex: 0 0 50%; */
    max-width: 45%;
    min-width: 255px;
    text-align: start;
    padding-left: 3rem;
    display: inline-block;
    align-self: center;
}

.info h2{
    font-family: var(--font-main);
    color: var(--color-dark);
    font-weight: 400;
    font-size: 3rem;
    text-align: start;
    margin: 0;
}

.info p{
    max-width: 65%;
    font-family: var(--font-main);
    color: var(--color-text-light);
    font-weight: 300;
    font-size: 1rem;
    text-align: start;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.info .button{
    position: relative;
	border: none;
    background-color:var(--main-color);
    padding: .7rem 2.7rem;
    border-radius:100px;
    /* text-align:center;
    line-height:1.5;
    font-weight:400;
    font-size:1rem; */
    color: var(--color-light);
    margin-top: .5rem;
}

.info .button:hover{
    text-decoration-line: none;
    transform: scale(1.02);
    box-shadow: 0 10px 20px 0 rgba(00, 00, 00, 0.3);
}

.image-box{
    position: relative;
    align-self: center;
    /* flex: 0 0 50%; */
    max-width: 48%;
    min-width: 255px;
}

.image-box .image-studio{
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    max-height: 500px;
}

.classes-container{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 230px;
}

.classes-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.classes-images{
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.classes-container h2{
    font-family: var(--font-main);
    font-size: 1rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.classes-container p{
    max-width: 90%;
    font-family: var(--font-main);
    color: var(--color-text-light);
    font-weight: 300;
    font-size: .9rem;
    text-align: center;
}

.table-responsive{
    /* display: block; */
    width: 100%;
    overflow-x: auto;
}

.table{
    min-width: 800px;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

.table a{
    color: var(--main-color);
    text-decoration: none;
    background-color: transparent;
}

.table a:hover{
    text-decoration: underline;
    transform: scale(1.05);
}

.table-bordered{
    border: 1px solid var(--color-light-border);
}

.text-center{
    text-align: center;
}

.week-day{
    background: var(--main-color);
    color: var(--color-light);
}

th{
    text-align: inherit;
}

.table th{
    font-family: var(--font-main);
    font-size: 1rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    padding: 0.7rem;
    border-top: 1px solid var(--color-light-border);
}

.table td{
    font-family: var(--font-text);
    font-size: 1rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    padding: 0.7rem;
    border-top: 1px solid var(--color-light-border);
}

.table thead th{
    border-bottom: 2px solid var(--color-light-border);
}

.table-bordered th, .table-bordered td{
    border: 1px solid var(--color-light-border);
}

.table-bordered thead th, .table-bordered thead td{
    border-bottom-width: 2px;
}

.table tbody tr td{
    text-align: center;
    vertical-align: middle;
    padding: 0.7rem;
    min-width: 100px;
}

.table tbody tr td a{
    display: block;
    color: var(--color-text-light);
}

.table tbody tr td a:hover{
    text-decoration: none;
    transform: scale(1.01);
    color: var(--main-color);
}

.table tbody tr td i{
    font-size: 1rem;
}

.table tfoot tr th{
    border: var(--color-light);
}

.table tfoot tr th a{
    cursor: not-allowed;
}

.schedule-img{
    width: 90px;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.instructors-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* max-width: 70%;
    margin-left: auto;
    margin-right: auto; */
    justify-content: center;
}

.brief{
    /* flex: 0 0 70%; */
    /* max-width: 70%; */
    max-width: 500px;
}

.brief h2{
    font-family: var(--font-main);
    color: var(--color-dark);
    font-weight: 400;
    font-size: 3rem;
    text-align: start;
}

.brief p{
    max-width: 85%;
    font-family: var(--font-text);
    color: var(--color-text-light);
    font-weight: 400;
    font-size: 1rem;
    text-align: start;
    margin-top: .5rem;
}

.brief h6{
    margin: 0;
    font-family: var(--font-text);
    font-weight: 300;
    font-size: .8rem;
    text-align: start;
}

.quota{
    position: relative;
    opacity: 0.1;
    left: -1.5rem;
}

/*.quota{
    background-image: url(assests/icons/quota-b.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: left;
    background-attachment: local;
    opacity: 20%;
}*/

.instructor-image-box {
    position: relative;
    align-self: center;
}

.image-instructor{
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.plans-row{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 1.2rem;
}

.plans-container{
    /* display:block;
    text-align:center; */

    position: relative;
    display: flex;
    flex-flow: column;
    align-items:center;
    text-align: center;
    justify-content:space-between;
    
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 2px 5px 6px rgba(72, 105, 114, 0.3);

    /* flex:0 0 22% ; */
    /* max-width: 230px; */
    width: 230px;
    padding-bottom: 1.5rem;
}

.plans-container h3{
    font-family: var(--font-main);
    color: var(--color-light);
    font-weight: 400;
    font-size: 1.4rem;
}

.plans-container p{
    font-family: var(--font-text);
    color: var(--color-text-light);
    font-weight: 300;
    font-size: 1rem;
    padding: 1rem;
}

.plan-color-box{
    display: inline-block;
    height: 36%;
    width: 100%;
    /* background-color: red; */
    border-radius: 40px 40px 0 0;
}

.plan1-color{
    background-color: var(--color-plan1);
}
.plan2-color{
    background-color: var(--color-plan2);
}
.plan3-color{
    background-color: var(--color-plan3);
}
.plan4-color{
    background-color: var(--color-plan4);
}

.dot{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: var(--color-light);
    border-radius: 50%;
    box-shadow: 2px 5px 6px rgba(72, 105, 114, 0.3);
}

.dot p{
    font-family: var(--font-numbers);
    color: var(--color-dark);
    font-weight: 300;
    font-size: 1.7rem;
    text-align: center;
}

.plans-container a.planBtn{
    background-image: var(--color-gradient);
    border: none;
    border-radius: 100px;
}

.plans-container a.planBtn:hover{
    text-decoration-line: none;
    transform: scale(1.02);
    box-shadow: 0 10px 20px 0 rgba(00, 00, 00, 0.3);
}

.newsletter-bar{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    /* flex-wrap:wrap; */
    align-items:center;
    justify-content:space-between;
}

.newsletter-bar input{
    /* flex-grow: 3; */
    /* margin-left: 1rem; */
    margin-left: 5px;
    position: relative;
    height: 50px;
	font-size: 12px;
	padding-left: 1rem;
	/* padding-right: 60px; */
	border: none;
	background: var(--color-light);
    border-radius: 100px;
    width: 5000px;
    max-width: 70%;
}

.newsletter-bar button{
    position: relative;
    margin-left: -6rem;
	height: 52px;
	border: none;
    background-color:var(--main-color);
    padding: .350rem 1.5rem;
    line-height:1.5;
    border-radius:100px;
    font-weight:400;
    font-size:1rem;
    color: var(--color-light);
    text-align:center;
}

.newsletter-bar button:hover{
    text-decoration-line: none;
    transform: scale(1.02);
    box-shadow: 0 10px 20px 0 rgba(00, 00, 00, 0.1);
}

.footer{
    padding-top: 1rem;
    background-image: var(--color-gradient);
    list-style: none;
    font-size: 14px;
	color: var(--color-light);
	position: relative;
}

footer h2{
    font-size: 16px;
	margin-bottom: 1.3rem;
}

.footer .container{
    max-width: 80%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.footer ul{
    padding: 0;
}

.footer ul li{
    list-style: none;
    font-size: 14px;
    color: var(--color-light);
    padding-bottom: 1rem;
}

.footer ul li i{
    width: 14px;
    height: 14px;
    padding-right: .2rem;
}

.footer a{
    color: var(--color-light);
    padding-right: 1rem;
}

.footer a:hover{
    text-decoration: underline;
    transform: scale(1.05);
}

.footer .row{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 2rem;
}

.footer-about{
    position: relative;
    /* max-width: 15rem; */
    max-width: 22%;
    min-width: 250px;
}

.footer-about p{
    /* max-width: 65%; */
}

.footer-about img{
    max-width: 50px;
}

.footer-explore{
    position: relative;
    /* max-width: 15rem; */
    max-width: 22%;
    min-width: 100px;
}

.visit-social-block{
    max-width: 22%;
    min-width: 200px;
}

.footer-visit{
    position: relative;
    /* max-width: 15rem; */
}

.footer-social{
    /* max-width: 15rem; */
    position: relative;
}

.footer-social a:hover{
    transform: scale(1.05);
}

.footer-bottom .copyright{
    margin-top: 1rem;
    margin-bottom: 0;
}

.instructors-index{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 1rem;
}

.index-dot{
    display: inline-block;
    border: 2px solid var(--color-light-border);
    height: 12px;
    width: 12px;
    background-color: var(--color-light);
    border-radius: 50%;
}

.index-dot:hover{
    display: inline-block;
    border: 2px solid var(--color-light-border);
    height: 12px;
    width: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
}

/* Media Queries */

.navbutton {
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
    color:var(--color-light);
    background-color: transparent;
    border: none;
    /* hides this button in desktop view */
    display: none;
}

@media screen and (max-width:913px){
    .navbutton {
        display: block;
    }
    
    .navMenu {
        flex-direction: column;
        min-width: 80%;
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s;
    }
    .navMenu a {
        /* border-bottom: solid 1px white; */
        padding: .7rem 1.5rem;
        font-weight:400;
        color: var(--color-light);
        text-align:center;
        font-size:1rem;
    }

    .navMenu a:hover{
        text-decoration: underline;
        transform: scale(1.05);
    }

    .navMenu.open {
        max-height: 50vh;
    }

    .header a.navBtn{
        display: none;
    }

    .header a.navBtn.open{
        display: block;
        flex-grow: 1;
    }
}